# Ignore python cache
__pycache__/

# Ignore IDE related items
.vscode/

# Ignore environments
.env
odm-env/

# Ignore downloadables
*.pdf
*.tif
*.zip
*.png

# Ignore list of predesigned commands
commands.txt

# Ignore output file
output/
