# Ignore python cache
__pycache__/

# Ignore IDE related items
.vscode/

# Ignore environment variables
.env

# Ignore downloadables
*.pdf
*.tif
*.zip
*.png

# Ignore list of predesigned commands
commands.txt

# ignore under testing
node_odm.py